body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 65px;
    background-color: #413C58;
    color:  white;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.cara{
    border-radius: 50px;
    height: 240px;
}
.uno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #F2E7C9;
}
.caja-central{
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #413C58;
}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #A3C4BC;
    color: #303030;
    padding: 10px;
}

.dos{
    background-color: #A3C4BC;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.aptitudes{
    width: 50%;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding: 10px;
}

.tech{
    height: 90px;
}

.tres{
    background-color: #E7EFC5;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #303030;
}
.proyectos{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    width: 30%;
    border: solid #303030 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: #413C58;
}

.red-social{
    height: 60px;
    border-radius: 10px;
}

.contacto{
    width: 30%;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #091540;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 250px;
}

@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        height: 70%;
        flex-direction: column;
    }
    .caja-cara{
        width: 100%;
        height: 50%;
    }
    .caja-presentacion{
        width: 100%;
        height: 50%;
        align-items: flex-start;
    }
    .aptitudes{
        width: auto;
    }
    .dos{
        height: auto;
        padding: 0 10px 10px 10px;

    }
    .tres{
        height: auto;
    }
    .proyectos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
}